# Dependencies
/node_modules
/package-lock.json

# Environment
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Build output
/dist
/build
/*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
/coverage

# Temporary files
*.tmp
*.temp

# Front-end directory
../front/**
